<%= form_for @user do |f| %>
  <div>
    <%= f.label 'First Name' %><br>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label 'Email' %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label 'Skills' %><br />
    <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>