<h1>Users</h1>

<%= form_tag users_path, method: "get" do %>
  <%= label_tag :q, 'Query' %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @search.suggestions.any? %>
  <p>Did you mean <%= link_to @search.suggestions.first, users_path(q: @search.suggestions.first) %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Skills</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= display_roles user.roles %></td>
        <td><%= display_skills user.skills %></td>
        <td>
          <%= link_to 'Show', user_path(user) %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>